@import "tailwindcss";

@font-face {
    font-family: "Pretendard";
    src: url(/fonts/PretendardVariable.woff2) format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary: #00C56C; /*ColorMain*/
    --color-sub: #ECFFE1; /*ColorSub*/

    /*green*/
    --color-green-50: #F2FCF8; /*ColorSub2*/
    --color-green-100: #00A75B;

    /*gray*/
    --color-white: #FFF; /*ColorBlack*/
    --color-gray-100: #FCFCFC; /*Color_Gray_B*/
    --color-gray-150: #ECECEC; /*ColorGray1*/
    --color-gray-200: #EBEBEB;
    --color-gray-250: #E0E0E0;
    --color-gray-300: #D9D9D9;
    --color-gray-350: #CCCCCC;
    --color-gray-400: #CACACA;
    --color-gray-450: #C3C3C3;
    --color-gray-500: #C2C2C2;
    --color-gray-550: #BEBEBE;
    --color-gray-600: #B5B5B5;
    --color-gray-650: #A1A1A1; /*ColorGray2*/
    --color-gray-700: #989898;
    --color-gray-750: #646464; /*ColorGray3*/
    --color-gray-800: #545454;
    --color-gray-850: #464646;
    --color-gray-900: #202023; /*ColorBlack*/
    --color-black: #000;

    /*others*/
    --color-orange: #FF8C44; /*ColorHighlight1*/
    --color-purple: #9362FF; /*ColorHighlight1*/
    --color-red: #FF3838;


    /*fonts*/

    --font-sans: "Pretendard", sans-serif;

    /*hn-> line-height: normal*/
 
    /* B (700) */
    --text-B-36: 36px;
    --text-B-36--line-height: 50.4px;
    --text-B-36--font-weight: 700;

    --text-B-28: 28px;
    --text-B-28--line-height: 39.2px;
    --text-B-28--font-weight: 700;

    --text-B-20: 20px;
    --text-B-20--line-height: 28px;
    --text-B-20--font-weight: 700;

    --text-B-18: 18px;
    --text-B-18--line-height: 25.2px;
    --text-B-18--font-weight: 700;

    --text-B-18-hn: 18px;
    --text-B-18-hn--line-height: normal;
    --text-B-18-hn--font-weight: 700;

    --text-B-16-hn: 16px;
    --text-B-16-hn--line-height: normal;
    --text-B-16-hn--font-weight: 700;

    --text-B-14-hn: 14px;
    --text-B-14-hn--line-height: normal;
    --text-B-14-hn--font-weight: 700;

    /* SB (600) */
    --text-SB-30: 30px;
    --text-SB-30--line-height: 42px;
    --text-SB-30--font-weight: 600;

    --text-SB-20: 20px;
    --text-SB-20--line-height: 28px;
    --text-SB-20--font-weight: 600;

    --text-SB-18: 18px;
    --text-SB-18--line-height: 25.2px;
    --text-SB-18--font-weight: 600;

    --text-SB-16-hn: 16px;
    --text-SB-16-hn--line-height: normal;
    --text-SB-16-hn--font-weight: 600;

    --text-SB-14: 14px;
    --text-SB-14--line-height: 19.6px;
    --text-SB-14--font-weight: 600;

    --text-SB-14-hn: 14px;
    --text-SB-14-hn--line-height: normal;
    --text-SB-14-hn--font-weight: 600;

    /* M (500) */
    --text-M-20: 20px;
    --text-M-20--line-height: 28px;
    --text-M-20--font-weight: 500;

    --text-M-16: 16px;
    --text-M-16--line-height: 22.4px;
    --text-M-16--font-weight: 500;
    
    --text-M-16-hn: 16px;
    --text-M-16-hn--line-height: normal;
    --text-M-16-hn--font-weight: 500;

    --text-M-14: 14px;
    --text-M-14--line-height: 19.6px;
    --text-M-14--font-weight: 500;

    --text-M-14-hn: 14px;
    --text-M-14-hn--line-height: normal;
    --text-M-14-hn--font-weight: 500;

    --text-M-12: 12px;
    --text-M-12--line-height: 16.8px;
    --text-M-12--font-weight: 500;

    --text-M-12-hn: 12px;
    --text-M-12-hn--line-height: normal;
    --text-M-12-hn--font-weight: 500;

    /* R (400) */
    --text-R-18: 18px;
    --text-R-18--line-height: 25.2px;
    --text-R-18--font-weight: 400;

    --text-R-16: 16px;
    --text-R-16--line-height: 22.4px;
    --text-R-16--font-weight: 400;

    --text-R-16-hn: 16px;
    --text-R-16-hn--line-height: normal;
    --text-R-16-hn--font-weight: 400;

    --text-R-14: 14px;
    --text-R-14--line-height: 19.6px;
    --text-R-14--font-weight: 400;

    --text-R-14-hn: 14px;
    --text-R-14-hn--line-height: normal;
    --text-R-14-hn--font-weight: 400;

    --text-R-12: 12px;
    --text-R-12--line-height: 16.8px;
    --text-R-12--font-weight: 400;

    --text-R-12-hn: 12px;
    --text-R-12-hn--line-height: normal;
    --text-R-12-hn--font-weight: 400;

    --text-R-11-hn: 11px;
    --text-R-11-hn--line-height: normal;
    --text-R-11-hn--font-weight: 400;

    --text-R-10-hn: 10px;
    --text-R-10-hn--line-height: normal;
    --text-R-10-hn--font-weight: 400;
}

@layer base {
  body { font-family: var(--font-sans); }
}

/* ex. <p class = "text-b-36> -> 클래스 이름 바로 사용 가능*/
@layer utilities {
    /* Bold (700) */
    .text-b-36 {
        font-size: var(--text-B-36);
        line-height: var(--text-B-36--line-height);
        font-weight: var(--text-B-36--font-weight);
    }
    .text-b-28 {
        font-size: var(--text-B-28);
        line-height: var(--text-B-28--line-height);
        font-weight: var(--text-B-28--font-weight);
    }
    .text-b-20 {
        font-size: var(--text-B-20);
        line-height: var(--text-B-20--line-height);
        font-weight: var(--text-B-20--font-weight);
    }
    .text-b-18 {
        font-size: var(--text-B-18);
        line-height: var(--text-B-18--line-height);
        font-weight: var(--text-B-18--font-weight);
    }
    .text-b-18-hn {
        font-size: var(--text-B-18-hn);
        line-height: var(--text-B-18-hn--line-height);
        font-weight: var(--text-B-18-hn--font-weight);
    }
    .text-b-16-hn {
        font-size: var(--text-B-16-hn);
        line-height: var(--text-B-16-hn--line-height);
        font-weight: var(--text-B-16-hn--font-weight);
    }
    .text-b-14-hn {
        font-size: var(--text-B-14-hn);
        line-height: var(--text-B-14-hn--line-height);
        font-weight: var(--text-B-14-hn--font-weight);
    }

    /* SemiBold (600) */
    .text-sb-30 {
        font-size: var(--text-SB-30);
        line-height: var(--text-SB-30--line-height);
        font-weight: var(--text-SB-30--font-weight);
    }
    .text-sb-20 {
        font-size: var(--text-SB-20);
        line-height: var(--text-SB-20--line-height);
        font-weight: var(--text-SB-20--font-weight);
    }
    .text-sb-18 {
        font-size: var(--text-SB-18);
        line-height: var(--text-SB-18--line-height);
        font-weight: var(--text-SB-18--font-weight);
    }
    .text-sb-16-hn {
        font-size: var(--text-SB-16-hn);
        line-height: var(--text-SB-16-hn--line-height);
        font-weight: var(--text-SB-16-hn--font-weight);
    }
    .text-sb-14 {
        font-size: var(--text-SB-14);
        line-height: var(--text-SB-14--line-height);
        font-weight: var(--text-SB-14--font-weight);
    }
    .text-sb-14-hn {
        font-size: var(--text-SB-14-hn);
        line-height: var(--text-SB-14-hn--line-height);
        font-weight: var(--text-SB-14-hn--font-weight);
    }

    /* Medium (500) */
    .text-m-20 {
        font-size: var(--text-M-20);
        line-height: var(--text-M-20--line-height);
        font-weight: var(--text-M-20--font-weight);
    }
    .text-m-16 {
        font-size: var(--text-M-16);
        line-height: var(--text-M-16--line-height);
        font-weight: var(--text-M-16--font-weight);
    }
    .text-m-16-hn {
        font-size: var(--text-M-16-hn);
        line-height: var(--text-M-16-hn--line-height);
        font-weight: var(--text-M-16-hn--font-weight);
    }
    .text-m-14 {
        font-size: var(--text-M-14);
        line-height: var(--text-M-14--line-height);
        font-weight: var(--text-M-14--font-weight);
    }
    .text-m-14-hn {
        font-size: var(--text-M-14-hn);
        line-height: var(--text-M-14-hn--line-height);
        font-weight: var(--text-M-14-hn--font-weight);
    }
    .text-m-12 {
        font-size: var(--text-M-12);
        line-height: var(--text-M-12--line-height);
        font-weight: var(--text-M-12--font-weight);
    }
    .text-m-12-hn {
        font-size: var(--text-M-12-hn);
        line-height: var(--text-M-12-hn--line-height);
        font-weight: var(--text-M-12-hn--font-weight);
    }

    /* Regular (400) */
    .text-r-18 {
        font-size: var(--text-R-18);
        line-height: var(--text-R-18--line-height);
        font-weight: var(--text-R-18--font-weight);
    }
    .text-r-16 {
        font-size: var(--text-R-16);
        line-height: var(--text-R-16--line-height);
        font-weight: var(--text-R-16--font-weight);
    }
    .text-r-16-hn {
        font-size: var(--text-R-16-hn);
        line-height: var(--text-R-16-hn--line-height);
        font-weight: var(--text-R-16-hn--font-weight);
    }
    .text-r-14 {
        font-size: var(--text-R-14);
        line-height: var(--text-R-14--line-height);
        font-weight: var(--text-R-14--font-weight);
    }
    .text-r-14-hn {
        font-size: var(--text-R-14-hn);
        line-height: var(--text-R-14-hn--line-height);
        font-weight: var(--text-R-14-hn--font-weight);
    }
    .text-r-12 {
        font-size: var(--text-R-12);
        line-height: var(--text-R-12--line-height);
        font-weight: var(--text-R-12--font-weight);
    }
    .text-r-12-hn {
        font-size: var(--text-R-12-hn);
        line-height: var(--text-R-12-hn--line-height);
        font-weight: var(--text-R-12-hn--font-weight);
    }
    .text-r-11-hn {
        font-size: var(--text-R-11-hn);
        line-height: var(--text-R-11-hn--line-height);
        font-weight: var(--text-R-11-hn--font-weight);
    }
    .text-r-10-hn {
        font-size: var(--text-R-10-hn);
        line-height: var(--text-R-10-hn--line-height);
        font-weight: var(--text-R-10-hn--font-weight);
    }

    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
}
